@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Branch;
  src: url('../public/static/VarelaRound-Regular.ttf') format('opentype');
}
* {
  font-family: Branch;
}

#header-title {
  font-family: Alcatraz;
}
.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.dot {
  visibility: hidden !important;
}

.dot-parent:hover .dot {
  visibility: visible !important;
}
